.form-group label {
    font-size: 0.9rem;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
.bootstrap-select .bs-searchbox {
    padding: 0.2rem;
}
.bs-searchbox .form-control {
    padding: 0.2rem;
    height: 50%;
}
.bootstrap-select .dropdown-menu.inner > li > a {
    padding: 0.4rem;
}
.bootstrap-select .dropdown-menu.inner > li > a:hover {
    background: #ebedf3;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a {
    background: #ebedf3;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    padding: 0.35rem 3rem 0.35rem 1rem;
}
.bootstrap-select > .dropdown-toggle.btn-light,
.bootstrap-select > .dropdown-toggle.btn-secondary {
    padding: 0.3rem 0.4rem !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    padding: 0.2rem !important;
}
.select2-container--default .select2-results__option {
    padding: 0.4rem !important;
}
